body {
    background-color: #f7d0cb;
    color: #212529;
    hight: 100%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Primary and Secondary Fonts. */
.logo, .book-title {
    font-family: 'DM Serif Display', serif;
}

.book-author, .book-desc {
    font-family: 'Jost', sans-serif;
}

/* Text Styling. */
.logo {
    font-size: 2em;
    text-transform: lowercase;
}

.book-author {
    font-size: 1em;
}

.book-title {
    font-size: 5em;
    line-height: 0.9em;
    text-transform: uppercase;
}

.book-desc {
    font-size: 1em;
}
/* Book Cover Image Sizing. */
.book-cover-image {
    height: 400px;
    width: auto;
}

.galleryhover img {
    /* transition: all .2s ease-in-out ; */
    transition: .2s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.17, .67, .83, .67);
    transition-delay: 0s;
}

.galleryhover:hover img {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}